@{
    Layout = null;
}

@model SortModel

<form asp-controller="Home" asp-action="Index" method="post">
    <p>Enter a word to be sorted: <input asp-for="SortWord" /></p>

    <button type="submit">Submit</button>
</form>

<p>Sorted Word: @Model.SortWord </p>

<br />

@Html.ActionLink("Contact Page", "Contact")
