@{
    ViewData["Title"] = "WordSort";
}
@model SortModel
<h2>WordSort</h2>

<h4>This page takes an input of a word and sorts the characters of the word alphabetically</h4>
<h5>Shawn McGinty ISM6225</h5>

@Html.ActionLink("Return to Sort Page", "Index")

